<h3>Vendor</h3>
<p>Name: <%= @vendor.name if @vendor.name %></p>
<p>Email: <%= @vendor.email if @vendor.email %></p>
<p>Group: <%= @vendor.group if @vendor.group %></p>
<p>Role: <%= @vendor.role if @vendor.role %></p>
