<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<ul>
  <% @categories.each  do |cate| %>
    <li> <%= link_to cate.name, category_path(cate) %> </li>
  <% end %>

</ul>
